@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  color: #64706c;
  font-size: 18px;
  scroll-behavior: smooth;
}

/* Navigation */

.navbar {
  padding: 0.5px;
}

.navbar-nav li {
  padding-left: 50px;
  text-align: center;
}

.nav-link {
  font-size: 1.1em;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

/* Carousel */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  opacity: 0.8;
}

/* TextArea Parallax */

.textArea {
  width: 100%;
  background-color: #64706c;
  color: #ede9ce;
  font-family: 'Maven Pro', sans-serif;
  padding: 50px;
}

.peace {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

/* Parallax Images */

.scroll1 {
  background-image: url(../img/concentration.jpg);
}

.scroll2 {
  background-image: url(../img/flowers.jpg);
}

.scroll3 {
  background-image: url(../img/windown.jpg);
}

.scroll4 {
  background-image: url(../img/bowl.jpg);
}

.scroll1, .scroll2, .scroll3, .scroll4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

/* Parallax Headers */

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 25px 'Maven Pro', sans-serif;
  color: #d6ecfa;
  text-align: center;
}

/* Videos */

.container {
  background: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

h2 {
  color: #8C4830;
  text-align: center;
  margin-bottom: 10px;
}

h1 i {
  color: #64706c;
  font-size: 70px;
  width: 100px;
}

/* Contact Form */

.btn-colour-1 {
  color: #fff;
  background-color: #B6BF7F;
  border-radius: 40px;
  padding-top: 10px;
  text-align: center;
}

.btn-colour-1:hover, .btn-colour-1:active, .btn-colour-1:focus, .btn-colour-1.active {
  /* Darkens a bit for hover effect */
  background: #d9ab99;
  color: #ffffff;
}

/* Social Media */

.social {
  text-align: center;
  padding: 20px 0;
}

.social a {
  display: inline-flex;
  /* If I don't overwrite Boostrap and remove inline-flex the circles crump together */
  width: 40px;
  height: 40px;
  background: #8C4830;
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 22px;
  text-decoration: none;
}

.social a:hover {
  background: #D9AB9A;
}

.social a i {
  transition: 0.2s all;
}

.social a:hover>i {
  transform: scale(1.2) rotate(25deg);
}

/* Footer */

.footer {
  bottom: 50px;
  width: 100%;
  height: 110px;
  background-position: center;
  background-image: url("../img/logofooter.png");
  background-repeat: no-repeat;
}

/* Copyright */

.copyright {
  background-color: #8C4830;
  color: #D9AB9A;
}

/* Media Queries */

@media (min-width: 320px) {
  .social a {
    font-size: 18px;
    padding: 14px;
  }
}

@media (min-width: 576px) {
  .social a {
    font-size: 21px;
    padding: 17px;
  }
  span.iframe {
    display: table;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .social a {
      font-size: 24px;
      padding: 20px;
    }
  }
  @media (min-width: 992px) {
    .social a {
      font-size: 32px;
      padding: 28px;
    }
  }
  /* Bootstrap Padding */
  [class*="col-"] {
    padding: 2px;
  }
}